In [9]:

from datetime import datetime
import os, sys

# ---------- Add project root to path ----------
from dotenv import find_dotenv, load_dotenv
load_dotenv(find_dotenv(), verbose=True) # Example:  AWS_ACCESS_KEY_ID = os.environ.get("AWS_ACCESS_KEY")
PROJECT_ROOT = os.environ.get("PROJECT_ROOT")
sys.path.append(PROJECT_ROOT)
# ----------------------------------------------

from src.data.get_data import YahooFinanceAPI as yfapi

today = datetime.today().strftime('%Y-%m-%d')
stock_data_df = yfapi.get_daily_data('MSFT', start_date='2023-01-01', end_date=today)
stock_data_df.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,243.080002,245.750000,237.399994,239.580002,237.956329,25740000
2023-01-04,232.279999,232.869995,225.960007,229.100006,227.547348,50623400
2023-01-05,227.199997,227.550003,221.759995,222.309998,220.803360,39585600
2023-01-06,223.000000,225.759995,219.350006,224.929993,223.405609,43613600
2023-01-09,226.449997,231.240005,226.410004,227.119995,225.580750,27369800

In [1]:
import tensorflow as tf
tf.config.list_physical_devices()

2023-10-02 18:18:24.543878: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-10-02 18:18:26.892724: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-02 18:18:26.898385: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2023-10-02 18:18:26.898430: I tensorflow/compiler/xla/stream_executor/cuda/cuda_gpu_executor.cc:982] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.

[PhysicalDevice(name='/physical_device:CPU:0', device_type='CPU'),
 PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]

In [1]:
import sys
# sys.path.append("/home/folongton/.local/bin")
sys.path

['/workspaces/p7-trading-bot/notebooks/TESTS',
 '/usr/lib/python311.zip',
 '/usr/lib/python3.11',
 '/usr/lib/python3.11/lib-dynload',
 '',
 '/usr/local/lib/python3.11/dist-packages',
 '/usr/lib/python3/dist-packages']